@page
@model Presentation.Pages.Requests.IndexModel
@{
    <div class="flex w-full flex-col items-center">
        <form method="post" asp-page-handler="update" class="flex flex-col w-1/2 p-2 rounded-sm shadow-drop sm bg-gray-300 my-4">
            <input type="hidden" name="request.Id" value="@Model.Id">
            @if (User.IsInRole("Admin"))
            {
                <div class="flex flex-col w-100 p-2">
                    <span class="text-sm underline">Created by @Model.request.CreatedBy.FirstName @Model.request.CreatedBy.LastName</span>
                </div>
            }
            <div class="flex flex-col w-100 p-2">
                <label for="Title" class="text-sm">Title:</label>
                <input disabled="@Model.Disabled" class="h-10 border border-gray-400 rounded-sm mt-1 p-2" name="request.Title" placeholder="Title" value="@Model.request.Title" id="Title" />
            </div>
            <div class="flex flex-col w-100 p-2">
                <label for="Description" class="text-sm">Description:</label>
                <textarea disabled="@Model.Disabled" class="border border-gray-400 rounded-sm mt-1 p-2" name="request.Description" id="Description">@Model.request.Description</textarea>
            </div>
            <div class="flex flex-col w-100 p-2">
                <label for="Title" class="text-sm">Type:</label>
                <select class="border border-gray-400 rounded-sm mt-1 p-2" disabled="@Model.Disabled" name="request.RequestType">
                    @foreach (var type in Model.RequestTypes)
                    {
                        <option value="@type.type" selected="@type.selected">@type.type</option>
                    }
                </select>
            </div>
            @if (User.IsInRole("Admin"))
            {
                @if (!Model.request.Completed)
                {
                    <input type="hidden" name="request.Completed" value="true" />
                    <button class="rounded-sm bg-green-400 hover:bg-green-900 text-green-900 hover:text-white drop-shadow-sm h-10 transition">Mark completed</button>
                }
                else
                {
                    <input type="hidden" name="request.Completed" value="false" />
                    <button class="rounded-sm bg-red-400 hover:bg-red-900 text-green-900 hover:text-white drop-shadow-sm h-10 transition">Mark uncompleted</button>
                }
            }


            @if (User.IsInRole("Worker") && !Model.request.Completed)
            {
                <button class="rounded-sm bg-green-400 hover:bg-green-900 text-green-900 hover:text-white drop-shadow-sm h-10 transition">Save</button>

            }
        </form>
        <form method="post" asp-page-handler="delete" asp-route-id="@Model.Id">
            @if (!Model.request.Completed && Model.Disabled)
            {
                <button class="rounded-sm bg-red-400 hover:bg-red-900 text-white-900 hover:text-white drop-shadow-sm h-10 transition">Delete</button>
            }
        </form>

    </div>
}

